<div data-ng-if="options"
     class="margin-y-1 pad-x-1"
     style="border: 1px solid #e0e0e0; border-radius: 4px; background: #fafafa;">
    <div class="flex flex-dir-row flex-nwrap flex-align-center">
        <div style="font-size: .9rem; flex-grow: 1; flex-shrink: 1;">
            <span>
                <strong>Estimated {{ featureType }} {{ options.label || 'extent' }}: </strong>
            </span>
            <span>
                {{ (options.measurement | number:2) }}
            </span>
            <span data-ng-if="options.type === 'polygon'">
                acres
            </span>
            <span data-ng-if="options.type === 'linestring'">
                linear feet
            </span>
        </div>
        <div data-ng-click="toggleExtent()"
             data-ng-if="!showEstimatedExtent"
             class="flex flex-dir-col flex-justify-center flex-align-center"
             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
             title="Show more">
            <div class="halo-btn">
                <div class="halo"></div>
                <span class="material-icons">
                    expand_more
                </span>
            </div>
        </div>
        <div data-ng-click="toggleExtent()"
             data-ng-if="showEstimatedExtent"
             class="flex flex-dir-col flex-justify-center flex-align-center"
             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
             title="Show less">
            <div class="halo-btn">
                <div class="halo"></div>
                <span class="material-icons">
                    expand_less
                </span>
            </div>
        </div>
    </div>
    <div data-ng-if="options.measurement && showEstimatedExtent">
        <span class="margin-b-1"
              style="display: block; font-size: 0.9rem;">
            The estimated {{ options.label || 'extent' }} was calculated using the geometry displayed on the map
            above. It may differ from the actual {{ featureType }} {{ options.label || 'extent' }} stored in Commons
            Cloud and/or the {{ options.label || 'extent' }} of this {{ featureType }} as determined by other
            systems that process geospatial data. Note that Commons Cloud uses the World Geodetic System (WGS84,
            EPSG:4326) as its reference coordinate system.
        </span>
    </div>
    <div data-ng-if="!options.measurement">
        <em>Unable to calculate estimated extent.</em>
    </div>
</div>