<div class="outer-controls-container"
     data-ng-class="{banner: page.primaryNode.properties.picture}">
    <div class="outer-controls pad-0 pad-x-50p">
        <div class="menu-toggle"
             data-ng-click="page.toggleMenu()">
            <div class="halo"></div>
            <span class="material-icons">
                menu
            </span>
        </div>
        <div class="geocoder-container">
            <div class="geocoder"></div>
        </div>
    </div>
</div>

<div class="panel-toggle pad-0 pad-y-1"
     data-ng-click="page.toggleSidebar()"
     data-ng-if="!page.status.loading">
    <span class="material-icons" data-ng-if="page.collapsed">
        arrow_right
    </span>
    <span class="material-icons" data-ng-if="!page.collapsed">
        arrow_left
    </span>
</div>

<div class="main-content-container" style="height: 0; opacity: 0; padding-top: 1.5rem;">

    <div class="main-content" style="width: 100%;">

        <div class="metadata--card">

            <h1 class="margin-0 pad-0"
                data-ng-if="!page.status.loading && page.primaryNode">
                {{ page.primaryNode.properties.name }}
            </h1>

            <h1 class="margin-0 pad-0"
                data-ng-if="!page.status.loading && !page.primaryNode">
                {{ page.summary.name }}
            </h1>

            <div class="stat--group margin-0 pad-0 margin-t-50p"
                 data-ng-if="page.primaryNode">
                <div class="stat--block"
                     data-ng-if="page.featureType && page.featureType !== 'practice'">
                    <span data-ng-if="page.featureType !== 'territory'"
                          class="label"
                          style="font-weight: 600; color: #757575; font-size: .8rem;">
                        {{ page.featureType }}
                    </span>
                    <span data-ng-if="page.featureType === 'territory'"
                          class="label"
                          style="font-weight: 600; color: #757575; font-size: .8rem;">
                        {{ page.featureType }} &middot; {{ page.primaryNode.properties.category.name }}
                    </span>
                </div>
                <div class="stat--block"
                     data-ng-if="page.featureType && page.featureType === 'practice'">
                    <span class="label" style="font-weight: 600; color: #757575; font-size: .8rem;"
                          data-ng-if="page.primaryNode.properties.practice_type.name">
                        {{ page.primaryNode.properties.practice_type.name }}
                    </span>
                    <span class="label" style="font-weight: 600; color: #757575; font-size: .8rem;"
                          data-ng-if="!page.primaryNode.properties.practice_type.name">
                        {{ page.featureType }}
                    </span>
                </div>
            </div>

            <p class="margin-0 margin-y-1"
               data-ng-if="!page.status.loading">
                {{ page.summary.description || page.primaryNode.properties.description || 'No description provided' }}
            </p>

            <p data-ng-if="!page.status.loading && page.primaryNode">
                <a href="/{{ page.featureType }}s/{{ page.primaryNode.properties.id }}"
                   data-ng-if="page.featureType !== 'territory'"
                   target="_blank"
                   title="View {{ page.featureType }} profile">
                    View complete profile &rarr;
                </a>
                <a href="/geographies/{{ page.primaryNode.properties.id }}"
                   data-ng-if="page.featureType === 'territory'"
                   target="_blank"
                   title="View geography profile">
                    View complete profile &rarr;
                </a>
            </p>

        </div>

        <div style="padding: 0 1.5rem; width: 100%;"
             data-ng-if="!page.status.loading">

            <h2 data-ng-class="{'active': page.activeTab.collection === 'metric'}"
                style="font-size: 1.25rem; font-weight: 500; line-height: 1.75rem;"
                class="margin-0 pad-0"
                title="Metrics">
                Metrics
            </h2>

            <p class="pad-0 margin-b-1" data-ng-if="page.progressTimestamp">
                <span style="font-size: .8rem; color: #757575;">
                    Last updated on {{ page.progressTimestamp | date : 'mediumDate' }} at {{
                    page.progressTimestamp | localTime | date:'h:mm' }} {{
                    page.progressTimestamp | localTime | date:'a' }}
                </span>
            </p>

            <div class="collection-filter-group"
                 data-ng-if="page.mapSummary && page.mapSummary.programs.length > 1">

                <div style="max-width: 100%;"
                     single-select
                     allow-search="false"
                     attr-key="name"
                     noop="page.fetchMap()"
                     noop-label="All programs"
                     options="page.mapSummary.programs"
                     placeholder="Select program"
                     post-select="page.setProgram(token)"
                     selection="page.programSelection"></div>

            </div>

        </div>

        <!-- Progress metrics -->
        <div data-ng-if="!page.status.loading">

            <section id="sites">

                <div class="list" style="padding: 0 1.5rem;">

                    <div data-ng-if="!page.metrics || (!page.metrics.generic.length && !page.metrics.has_models)"
                         style="padding: 4em 0; text-align: center;">

                        <p style="margin: 0;">No metric progress to report.</p>

                    </div>

                    <div data-ng-if="page.metrics && page.metrics.has_models">

                        <table class="table table-practices with-metrics" data-ng-repeat="model in page.metrics.models">

                            <thead>
                            <tr>
                                <th>
                                    <span style="font-size: .9rem; font-weight: 500;">
                                        {{ model.datum.name }}
                                    </span>
                                    <p style="margin: 0; padding-top: 2em; font-size: 0.8rem;">
                                        The following metric values were generated using data and algorithms
                                        supplied by the {{ model.datum.name }} model. You can find more
                                        information about this model <a href="/models/{{ model.datum.id }}"
                                                                         target="_blank">here</a>.
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                <th class="table-metrics-header">Estimated value</th>
                            </tr>
                            </thead>

                            <tbody class="metrics" data-ng-repeat="metric in model.collection track by $index">
                            <tr class="metrics--metric">
                                <td class="table-column-wide">
                                    <p class="metric--title">
                                        {{ metric.name }}
                                    </p>
                                </td>
                                <td>
                                    <strong class="metrics--metric--rollup--small">
                                        {{ metric.current_value | number:2 }}
                                    </strong> <span class="metrics--metric--rollup--label">
                                        {{ metric.unit.plural }}</span><br />
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </div>

                    <table class="table table-practices with-metrics" style="border-top: 1px solid #e0e0e0;"
                           data-ng-if="page.metrics && page.metrics.generic.length">

                        <thead>
                        <tr>
                            <th class="table-column-wide table-metrics-header">&nbsp;</th>
                            <th class="table-metrics-header">Installed / Planned</th>
                            <th class="table-metrics-header">% Installed</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>

                        <tbody class="metrics" data-ng-repeat="metric in page.metrics.generic track by $index" >
                        <tr class="metrics--metric">
                            <td class="table-column-wide">
                                <p class="metric--title">
                                    {{ metric.name }}
                                </p>
                            </td>
                            <td>
                                <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}<br />
                                                    / {{ metric.self_target | number:2 }}</span>
                            </td>
                            <td>
                                <strong class="metrics--metric--percentage">
                                    {{ metric.selfProgress.value * 100 | number:1 }}%
                                </strong>
                            </td>
                            <td>
                                <progress-arc
                                        size="32"
                                        stroke="#2196F3"
                                        stroke-width="4"
                                        complete="metric.selfProgress.arcValue"
                                        counter-clockwise="false"
                                        background="rgba(0,0,0,0.2)">
                                </progress-arc>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>

            </section>

        </div>

    </div>

</div>