<div data-ng-include="'/templates/header--view.html'"></div>

<main style="margin-top: -292px;"
      class="site--content--flow fluid-content clearfix distinguish facility-content">

    <div class="content--container pad-0" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading facility data&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0"
                 data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This facility is not available.</p>

        </section>

        <div class="main--ui pad-0"
             data-ng-if="!page.status.loading && !page.makePrivate">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     program="page.node.program"
                     project="page.project"></div>

                <div class="hero translucent">

                    <div id="backdrop-map"
                         style="overflow: hidden;"></div>

                    <article style="text-align: center;"
                             class="name pad space-right reveal fade-in t0">

                        <h1 style="color: #FFFFFF; font-weight: normal;" class="margin-0 margin-b-1">
                            {{ page.node.name || 'Un-named' }}
                        </h1>

                        <div class="last-modified-summary">

                            <div data-ng-if="page.node.id && page.node.last_modified_by.first_name && page.node.last_modified_by.last_name"
                                 class="modtime">
                                Last updated on {{ page.node.modified_on | localTime
                                | date:'fullDate' }} at {{ page.node.modified_on | localTime | date:'h:mm' }} {{ page.node.modified_on | localTime | date:'a' }}
                            </div>

                        </div>

                        <div class="flex flex-dir-col flex-align-center flex-justify-center">

                            <a href="#" class="margin-0 margin-t-2 pad-t-1 pad-b-1 pad-l-2 pad-r-2"
                               style="display: inline-block; color: #ffffff; background: #2196F3; border-radius: .25rem;
                               text-decoration: none; font-weight: 500;">
                                Download data
                            </a>

                        </div>

                    </article>

                </div>

                <div style="width: 100%; max-width: 960px; min-height: 240px; margin-top: -4rem; position: relative;
                z-index: 11; background: #FFFFFF;"
                     class="flex flex-nwrap flex-dir-row pad-2">

                    <div style="width: 50%;" class="flex flex-nwrap flex-dir-col">

                        <div class="flex flex-dir-col margin-b-2"
                             style="">
                            <div class="margin-b-50p">
                                <strong>Company</strong>
                            </div>
                            {{ page.varIndex.company.values[0].linked_node.name }}
                        </div>

                        <div class="flex flex-dir-col margin-b-1"
                             style="">
                            <div class="margin-b-50p">
                                <strong>Address</strong>
                            </div>
                            <p class="pad-0 margin-0">
                                {{ page.varIndex.street_address.value }}
                            </p>
                            <p class="pad-0 margin-0">
                                <span>{{ page.varIndex.city.value }},</span>
                                <span> {{ page.varIndex.state.value }}</span>
                                <span> {{ page.varIndex.zip_code.value }}</span>
                            </p>
                        </div>

                        <div class="flex flex-dir-col margin-b-2"
                             style="">
                            <a href="/state/{{ page.varIndex.state.value }}"
                               class="pad-0 margin-0">
                                View state profile &rarr;
                            </a>
                        </div>

                        <div class="flex flex-dir-col"
                             style="">
                            <div class="margin-b-50p">
                                <strong>Congressional Representative(s)</strong>
                            </div>
                            {{ page.varIndex.congressional_representatives.value }}
                        </div>

                    </div>

                    <div style="width: 50%;" class="flex flex-nwrap flex-dir-col">

                        <div class="static-map flex flex-dir-col flex-justify-center flex-align-center"
                             style="width: 100%; height: 100%; background: url({{ page.staticUrl }}) center center
                             no-repeat; min-height: 240px;"></div>

                    </div>

                </div>

                <div style="width: 100%; max-width: 960px; min-height: 240px; background: #FFFFFF;"
                     class="flex flex-nwrap flex-dir-row pad-2">

                    <div style="width: 100%;" class="flex flex-nwrap flex-dir-col">

                        <div class="margin-b-50p">
                            <strong>Description</strong>
                        </div>

                        <p style="font-size: 1.125rem;"
                           data-ng-bind-html="page.varIndex.facility_description.value"
                           data-ng-if="page.varIndex && page.varIndex.facility_description.value"></p>

                        <p style="font-size: 1.125rem;"
                           data-ng-if="!page.varIndex.facility_description.value">
                            <em>No description provided.</em>
                        </p>

                    </div>

                </div>

            </div>

            <div style="width: 100%;"
                 class="flex flex-dir-col flex-nwrap flex-align-center">

                <section style="width: 100%; max-width: 960px;"
                         class="reveal fade-in t3 pad-0 pad-r-2 pad-l-2 margin-b-3">

                    <!--                    <div class="margin-b-1">-->
                    <!--                        <strong>Potential Emissions</strong>-->
                    <!--                    </div>-->

                    <div class="create-heading margin-b-1">
                        <h2 class="margin-0">
                            Potential Emissions
                        </h2>
                    </div>

                    <p style="font-size: 1.125rem;">
                        Projects announced or authorized at <strong>{{ page.node.name }}</strong> since 2012 have the
                        potential to emit <strong>{{ page.totalGHG | number:0 }}</strong> tons of greenhouse gases and
                        <strong>{{ page.totalCriteria | number:0 }}</strong> tons of criteria air pollutants each year,
                        according to government records.
                    </p>

                </section>

            </div>

            <!-- START PRACTICES PANEL-->

            <div style="width: 100%;"
                 class="flex flex-dir-col flex-nwrap flex-align-center">

                <section style="width: 100%; max-width: 960px;"
                         class="reveal fade-in t3 pad-0 pad-r-2 pad-l-2 margin-b-3">

                    <div class="create-heading margin-t-1 margin-b-2">
                        <h2 class="margin-0">
                            Projects
                            <span class="tally">
                                {{ page.graph.projects.length | number }}
                            </span>
                        </h2>
                    </div>

                    <div>

                        <div>

                            <ul class="list-unstyled">

                                <li class="pad-1 margin-b-1 flex-dir-col"
                                    style="border: 1px solid #e0e0e0; border-radius: 4px;"
                                    data-ng-repeat="feature in page.graph.projects track by $index">
                                    <div class="pad-b-1 margin-b-1" style="font-size: 1.1rem; border-bottom: 1px
                                    solid #e0e0e0;">
                                        <strong>{{ feature.name }}</strong>
                                    </div>
                                    <div class="flex flex-dir-row flex-nwrap flex-align-center pad-b-1">
                                        <div class="pad-r-2">
                                            <strong>Classification</strong>
                                            <div>{{ feature.variables.classification.value || 'N/A' }}</div>
                                        </div>
                                        <div class="pad-r-2">
                                            <strong>Sector</strong>
                                            <div>{{ feature.variables.sector.value || 'N/A' }}</div>
                                        </div>
                                        <div class="pad-r-2">
                                            <strong>Type(s)</strong>
                                            <div>{{ feature.variables.types.value || 'N/A' }}</div>
                                        </div>
                                        <div class="pad-r-2">
                                            <strong>Operating Status</strong>
                                            <div>{{ feature.variables.operating_status.value || 'N/A' }}</div>
                                        </div>
                                        <div>
                                            <strong>Project Cost (million $)</strong>
                                            <div>{{ (feature.variables.project_cost_million.value || 0) | currency
                                                }}</div>
                                        </div>
                                    </div>
                                    <div class="flex flex-dir-row flex-nwrap flex-align-center">
                                        <div class="pad-r-2">
                                            <strong>Project Description</strong>
                                            <div>{{ feature.variables.project_description.value || 'No description' }}</div>
                                        </div>
                                    </div>
                                    <div class="flex flex-dir-row flex-nwrap flex-align-center margin-t-1">
                                        <div style="flex-grow: 1; flex-shrink: 1;">
                                            <strong>Potential emissions increases</strong>
                                            <p style="color: #616161; font-size: .9rem;"
                                               class="pad-0 margin-0 margin-t-50p margin-b-2">
                                                Potential emissions increases (tons per year) of CO<sub>2</sub>e and criteria air
                                                pollutants
                                            </p>
                                        </div>
                                        <div data-ng-click="page.togglePollutants(feature.id)"
                                             data-ng-if="!page.pollutantVisibility[feature.id]"
                                             class="flex flex-dir-col flex-justify-center flex-align-center"
                                             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
                                             title="Show more">
                                            <div class="halo-btn">
                                                <div class="halo"></div>
                                                <span class="material-icons">
                                                    expand_more
                                                </span>
                                            </div>
                                        </div>
                                        <div data-ng-click="page.togglePollutants(feature.id)"
                                             data-ng-if="page.pollutantVisibility[feature.id]"
                                             class="flex flex-dir-col flex-justify-center flex-align-center"
                                             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
                                             title="Show less">
                                            <div class="halo-btn">
                                                <div class="halo"></div>
                                                <span class="material-icons">
                                                    expand_less
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-t-1"
                                         data-ng-if="page.varIndex && page.pollutantVisibility[feature.id]">

                                        <div>

                                            <ul class="list-unstyled">

                                                <li style="width: 100%; min-height: 0; border-bottom: 1px dashed
                                                #e0e0e0; font-size: .9rem;"
                                                    class="card reveal fade-in pad-b-1 margin-b-2"
                                                    data-ng-repeat="pollutant in page.airPollutants">
                                                    <div class="flex flex-dir-row flex-nwrap flex-align-end"
                                                         style="width: 100%;">
                                                        <div class="flex no-grow pad-r-2">
                                                            <strong>{{ pollutant.name }}</strong>
                                                        </div>
                                                        <div class="flex flex-dir-row flex-justify-end grow">
                                                            {{ (feature.variables[pollutant.normalized_name].value ||
                                                            0) | number:0 }}
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                    <div class="flex flex-dir-row flex-nwrap flex-align-center margin-t-1">
                                        <div style="flex-grow: 1; flex-shrink: 1;">
                                            <strong>Permits</strong>
                                        </div>
                                        <div data-ng-click="page.togglePermits(feature.id)"
                                             data-ng-if="!page.permitVisibility[feature.id]"
                                             class="flex flex-dir-col flex-justify-center flex-align-center"
                                             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
                                             title="Show more">
                                            <div class="halo-btn">
                                                <div class="halo"></div>
                                                <span class="material-icons">
                                                    expand_more
                                                </span>
                                            </div>
                                        </div>
                                        <div data-ng-click="page.togglePermits(feature.id)"
                                             data-ng-if="page.permitVisibility[feature.id]"
                                             class="flex flex-dir-col flex-justify-center flex-align-center"
                                             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
                                             title="Show less">
                                            <div class="halo-btn">
                                                <div class="halo"></div>
                                                <span class="material-icons">
                                                    expand_less
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="margin-t-1"
                                         data-ng-if="feature.variables.project.values.length && page.permitVisibility[feature.id]">

                                        <ul class="list-unstyled">

                                            <li class="pad-1 margin-b-1 flex-dir-col"
                                                style="border: 1px solid #e0e0e0; border-radius: 4px;"
                                                data-ng-repeat="permit in page.graph.permits[feature.id]">
                                                <div
                                                        class="flex flex-dir-row flex-nwrap flex-align-center pad-b-1 margin-b-1" style="font-size: 1.1rem; border-bottom: 1px
                                    solid #e0e0e0;">
                                                    <strong>{{ permit.name }}</strong>
                                                    <div style="font-size: .9rem; border: 1px solid #E0E0E0; border-radius: .5rem;"
                                                         class="flex flex-dir-row flex-nwrap flex-align-center margin-l-1 pad-r-50p pad-l-50p pad-t-25p pad-b-25p"
                                                            data-ng-if="permit.variables.status.value !== 'Draft Issued' && permit.variables.status.value !== 'Application Pending'">
                                                        <strong>Status: </strong>
                                                        <div class="pad-l-50p">{{ permit.variables.status.value }}</div>
                                                    </div>
                                                    <div style="font-size: .9rem; color: #f3212d; border: 1px solid #E0E0E0; border-radius: .5rem;"
                                                         class="flex flex-dir-row flex-nwrap flex-align-center margin-l-1 pad-r-50p pad-l-50p pad-t-25p pad-b-25p"
                                                            data-ng-if="permit.variables.status.value === 'Draft Issued'">
                                                        <strong>Status: </strong>
                                                        <div class="pad-l-50p">{{ permit.variables.status.value }}</div>
                                                    </div>
                                                    <div style="font-size: .9rem; color: #f37e21; border: 1px solid #E0E0E0; border-radius: .5rem;"
                                                         class="flex flex-dir-row flex-nwrap flex-align-center margin-l-1 pad-r-50p pad-l-50p pad-t-25p pad-b-25p"
                                                            data-ng-if="permit.variables.status.value === 'Application Pending'">
                                                        <strong>Status: </strong>
                                                        <div class="pad-l-50p">{{ permit.variables.status.value }}</div>
                                                    </div>
                                                </div>
                                                <div class="flex flex-dir-row flex-nwrap flex-align-center pad-b-1">
                                                    <div class="pad-r-2">
                                                        <strong>Statute</strong>
                                                        <div>{{ permit.variables.statute.value || 'N/A' }}</div>
                                                    </div>
                                                    <div class="pad-r-2">
                                                        <strong>Government Agency</strong>
                                                        <div>{{ permit.variables.government_agency.value || 'N/A' }}</div>
                                                    </div>
                                                    <div class="pad-r-2">
                                                        <strong>Permit or Approval Type</strong>
                                                        <div>{{ permit.variables.permit_or_approval_type.value || 'N/A' }}</div>
                                                    </div>
                                                </div>
                                                <div class="flex flex-dir-row flex-nwrap flex-align-center pad-b-1">
                                                    <div class="pad-r-2">
                                                        <strong>Application, Permit, or Docket ID</strong>
                                                        <div>{{ permit.variables.application_permit_or_docket_id.value || 'N/A'
                                                            }}</div>
                                                    </div>
<!--                                                    <div>-->
<!--                                                        <strong>Status</strong>-->
<!--                                                        <div>{{ permit.variables.status.value }}</div>-->
<!--                                                    </div>-->
                                                </div>
                                                <div class="flex flex-dir-row flex-nwrap flex-align-center pad-b-1">
                                                    <div class="pad-r-2">
                                                        <strong>Issue or Application Date</strong>
                                                        <div>{{ permit.variables.issue_or_application_date.value
                                                            }}</div>
                                                    </div>
                                                    <div class="pad-r-2">
                                                        <strong>Permit Expiration Date</strong>
                                                        <div>{{ permit.variables.permit_expiration_date.value }}</div>
                                                    </div>
                                                </div>
                                                <div class="flex flex-dir-row flex-nwrap flex-align-center margin-b-1">
                                                    <div class="pad-r-2">
                                                        <strong>Description or Purpose</strong>
                                                        <div class="margin-t-50p">
                                                            {{ permit.variables.description_or_purpose.value }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex flex-dir-row flex-nwrap flex-align-center">
                                                    <div class="pad-r-2">
                                                        <strong>Public Document(s)</strong>
                                                        <div class="margin-t-50p margin-b-50p">
                                                            <a class="flex flex-dir-row flex-nwrap flex-align-center"
                                                                    href="{{ permit.variables.document_url.value }}"
                                                                target="_blank">
                                                                View document
                                                                <span class="material-icons pad-r-50p">
                                                                    insert_drive_file
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>
                                </li>

                            </ul>

                        </div>

                    </div>

                </section>

            </div>

            <div style="width: 100%; position: relative;"
                 class="flex flex-dir-col flex-nwrap flex-align-center margin-b-2">

                <div class="create-heading margin-b-1"
                     style="width: 100%; max-width: 960px;">
                    <h2 class="margin-0">
                        Location and Demographics
                    </h2>
                </div>

                <div style="width: 100%; max-width: 960px;"
                     class="flex flex-dir-row flex-nwrap flex-align-center margin-b-1">
                    <div style="flex-grow: 1; flex-shrink: 1;">
                        <strong>Demographic indicators</strong>
                    </div>
                    <div data-ng-click="page.showIndicators = !page.showIndicators"
                         data-ng-if="!page.showIndicators"
                         class="flex flex-dir-col flex-justify-center flex-align-center"
                         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
                         title="Show more">
                        <div class="halo-btn">
                            <div class="halo"></div>
                            <span class="material-icons">
                                expand_more
                            </span>
                        </div>
                    </div>
                    <div data-ng-click="page.showIndicators = !page.showIndicators"
                         data-ng-if="page.showIndicators"
                         class="flex flex-dir-col flex-justify-center flex-align-center"
                         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
                         title="Show less">
                        <div class="halo-btn">
                            <div class="halo"></div>
                            <span class="material-icons">
                                expand_less
                            </span>
                        </div>
                    </div>
                </div>

                <div data-ng-if="page.varIndex && page.showIndicators"
                     style="width: 100%; max-width: 960px;">

                    <div>

                        <ul class="list-unstyled">

                            <li style="width: 100%; min-height: 0; border-bottom: 1px dashed #e0e0e0;"
                                class="card reveal fade-in pad-b-75p margin-b-75p"
                                data-ng-repeat="feature in page.popVars">
                                <div class="flex flex-dir-row flex-nwrap flex-align-end"
                                     style="width: 100%;">
                                    <div style="font-size: .9rem;" class="flex no-grow pad-r-2">
                                        <strong>{{ feature.name }}</strong>
                                    </div>
                                    <div style="font-size: .9rem;" class="flex grow flex-justify-end">
                                        {{ (page.varIndex[feature.normalized_name].value || 0) | number:0 }}
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>

                <div style="width: 100%; max-width: 1200px;"
                     class="flex flex-dir-col flex-align-center flex-justify-center margin-b-2">
                    <div style="width: 100%;"
                         class="geocoder-container flex flex-justify-center flex-align-center">
                        <div style="max-width: 50%; font-size: 1rem;" class="geocoder"></div>
                    </div>
                </div>

                <div id="primary--map"
                     class="map tall"
                     style="width: 100%; max-width: 960px;">
<!--                    <div map-filter-->
<!--                         feature-collection="page.featureCollection"-->
<!--                         map="page.map"-->
<!--                         class="flex flex-dir-row flex-align-center flex-justify-start"-->
<!--                         style="position: absolute; top: 10px; left: 285px; width: 100%; z-index: 2;"></div>-->
                    <div class="mapboxgl-layer-ctrl"
                         data-ng-click="page.showLayerOptions = !page.showLayerOptions" title="Switch layers">
                        <i class="material-icons">
                            layers
                        </i>
                        <div class="layer-group"
                             style="font-weight: normal; font-size: 14px; min-width: 240px; max-height: 400px;
                             overflow: auto;"
                             data-ng-show="page.showLayerOptions">
                            <form>
                                <label data-ng-repeat="style in page.mapStyles"
                                       data-ng-class="{'active': page.activeStyle === $index}"
                                       style="font-weight: normal;"
                                       title="{{ style.name }}">
                                    <input type="radio"
                                           id="base-style-{{ $index }}"
                                           name="active-style"
                                           data-ng-model="page.activeStyle"
                                           data-ng-value="{{ $index }}"
                                           data-ng-change="page.switchMapStyle(style, $index)">
                                    <span> {{ style.name }}</span>
                                    <div class="selection-ctrl flex flex-dir-row flex-align-center flex-justify-end"
                                         data-ng-if="page.activeStyle === $index">
                                        <span class="material-icons md-18 margin-0">
                                            radio_button_checked
                                        </span>
                                    </div>
                                    <div class="selection-ctrl flex flex-dir-row flex-align-center flex-justify-end"
                                         data-ng-if="page.activeStyle !== $index">
                                        <span style="color: #616161;"
                                              class="material-icons md-18 margin-0">
                                            radio_button_unchecked
                                        </span>
                                    </div>
                                </label>
                            </form>
                            <div style="font-size: .75rem; font-weight: bold; text-transform: uppercase; padding: .5rem
                            .75rem; border-top: 1px solid #e0e0e0;"
                                 data-ng-show="page.layers && page.layers.length">
                                Layers
                            </div>
                            <form class="layers"
                                  data-ng-show="page.layers && page.layers.length">
                                <div class="flex flex-dir-col"
                                     data-ng-repeat="layer in page.layers">
                                    <label for="layer-{{ $index }}" style="font-weight: normal;"
                                           data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                                        <input type="checkbox"
                                               id="layer-{{ $index }}"
                                               name="layer-{{ $index }}"
                                               data-ng-model="layer.selected"
                                               data-ng-value="{{ $index }}"
                                               data-ng-change="page.toggleLayer(layer.id)">
                                        <span> {{ layer.name }}</span>
<!--                                        <div class="symbol-group margin-r-1"-->
<!--                                             data-ng-if="layer.symbol && layer.symbol.colors">-->
<!--                                            <div class="color" data-ng-repeat="color in layer.symbol.colors"-->
<!--                                                 style="background: {{ color }};"></div>-->
<!--                                        </div>-->
                                        <div class="selection-ctrl flex flex-dir-row flex-align-center flex-justify-end"
                                             data-ng-if="layer.selected">
                                            <span class="material-icons md-18 margin-0">
                                                check_box
                                            </span>
                                        </div>
                                        <div class="selection-ctrl flex flex-dir-row flex-align-center flex-justify-end"
                                             data-ng-if="!layer.selected">
                                            <span style="color: #616161;"
                                                  class="material-icons md-18 margin-0">
                                                check_box_outline_blank
                                            </span>
                                        </div>
                                    </label>
                                    <div data-ng-if="layer.selected && layer.legends && layer.legends.length">
                                        <div data-ng-repeat="legend in layer.legends">
                                            <div class="pad-t-50p pad-b-50p pad-l-75p pad-r-75p"
                                                 data-ng-if="legend.title">
                                                {{ legend.title }}
                                            </div>
                                            <div data-ng-if="legend.type === 'categorical'">
                                                <div class="flex flex-dir-row flex-nwrap flex-align-center
                                                        pad-t-50p pad-b-50p pad-l-75p pad-r-75p"
                                                     data-ng-repeat="symbol in legend.symbols">
                                                    <div style="height: 1rem; width: 1rem; border-radius: .25rem;
                                                    background: {{ symbol.color }};" class="flex margin-r-1"></div>
                                                    <div>
                                                        {{ symbol.label }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ng-if="legend.type === 'quantitative'">
                                                <div class="flex flex-dir-row flex-nwrap flex-align-stretch
                                                        pad-t-50p pad-b-50p pad-l-75p pad-r-75p">
                                                    <div style="height: 160px; width: 1rem; border-radius: .25rem;
                                                    background: {{ legend.gradient }};" class="flex margin-r-1"></div>
                                                    <div style="height: 160px; position: relative;"
                                                         class="flex grow flex-dir-col flex-justify-start">
                                                        <div class="flex" style="height: 33.3333%;">
                                                            {{ legend.labels.high }}
                                                        </div>
                                                        <div class="flex grow"
                                                             style="position: relative; height: 33.3333%;"
                                                             data-ng-if="legend.labels.middle">
                                                            <div class="flex grow"
                                                                 style="position: absolute; top: 50%; margin-top: -0.5rem;">
                                                                {{ legend.labels.middle }}
                                                            </div>
                                                        </div>
                                                        <div style="height: 33.3333%;"
                                                             class="flex grow flex-dir-col flex-align-start flex-justify-end">
                                                            {{ legend.labels.low }}
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-dir-row flex-nwrap flex-align-center
                                                        pad-t-50p pad-b-50p pad-l-75p pad-r-75p">
                                                        <div style="height: 1rem; width: 1rem; border-radius: .25rem;
                                                         background: #cccccc;" class="flex margin-r-1"></div>
                                                        <div>
                                                            No value
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>

            <!-- Map -->

            <li data-ng-if="page.permissions.can_edit"
                title="Launch map">
                <a href="/atlas?{{ page.atlasParams }}">
                    <span class="material-icons">
                        map
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

    <div export-dialog
         alerts="page.alerts"
         feature="page.project"
         reset-type="false"
         type="'project'"
         visible="page.showExportDialog"></div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>