<div data-ng-include="'/templates/header--view.html'"></div>

<main style="margin-top: -292px;"
      class="site--content--flow fluid-content clearfix distinguish facility-content">

    <div class="content--container pad-0"
         style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui pad-0">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     program="page.node.program"
                     project="page.project"></div>

                <div class="hero translucent">

                    <div id="backdrop-map"
                         style="overflow: hidden; background-image: url('/images/alt-banner-1.png'); background-repeat:
                         no-repeat; background-size: cover; background-position: center center; height: 600px;">
                    </div>

                    <article style="text-align: center;"
                             class="name pad space-right reveal fade-in t0 margin-t-2">

                        <h1 style="color: #FFFFFF; font-size: 2.5rem;"
                            class="margin-0 margin-b-1">
                            Contact
                        </h1>

                    </article>

                </div>

                <div style="width: 100%; max-width: 640px;"
                     class="flex flex-dir-col flex-nwrap flex-align-center pad-b-4">

                    <section class="pad-0 pad-t-4 pad-b-2">

                        <p>
                            Oil & Gas Watch was created by the Environmental Integrity Project, a non-profit,
                            non-partisan organization dedicated to enforcing environmental laws and holding polluters
                            and governments accountable to protect public health.
                        </p>

                        <p>
                            While we have been meticulous in our efforts to identify data entry errors, this work is
                            done by actual humans and it is possible that errors are present. If you would like an
                            electronic copy of any original document we used in this project, or suspect that you have
                            identified an error, please contact us.
                        </p>

                        <p class="margin-0 pad-0 pad-b-1"><p>
                            <strong>Email:</strong>
                            <a href="mailto:ogwatch@environmentalintegrity.org">
                                ogwatch@environmentalintegrity.org
                            </a>
                        </p>

                        <p class="margin-0 pad-0 pad-y-1">
                            <strong>Phone:</strong> (202) 296-8800
                        </p>

                        <p class="margin-0 pad-0 pad-t-1">
                            <strong>Follow us online:</strong>
                        </p>

                        <div class="flex flex-flw-row-nw flex-align-center margin-t-1">
                            <a class="flex margin-r-2"
                               href="https://twitter.com/EnviroIntegrity"
                               target="_blank">
                                <svg style="margin: 0 auto;"
                                     height="88"
                                     width="88"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 400 400">
                                    <defs>
                                        <style>
                                            .cls-1{fill:none;}.cls-2{fill:#1da1f2;}
                                        </style>
                                    </defs>
                                    <title>Twitter_Logo_Blue</title>
                                    <rect class="cls-1"
                                          width="400"
                                          height="400"/>
                                    <path class="cls-2"
                                          d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"/>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/EnvIntegrity"
                               target="_blank">
                                <img src="/images/f_logo_RGB-Blue_512.png"
                                     width="64"
                                     height="64"
                                     alt="Facebook logo"
                                     border="0"
                                     style="margin: 0 auto;" />
                            </a>
                        </div>

                    </section>

                </div>

            </div>

        </div>

    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>