<div class="mapboxgl-filter-ctrl margin-0"
     data-ng-click="toggleModal()"
     title="Add filters">
    <span class="material-icons">
        tune
    </span>
</div>
<div class="map-filter-group flex flex-dir-row flex-align-center flex-justify-start margin-l-75p"
     style="width: auto;"
     data-ng-if="showFilterModal">
    <div data-ng-click="showFilters()"
         class="flex flex-align-center flex-justify-center rad-25 pad-l-50p pad-r-50p"
         style="max-width: 100%; font-size: .9rem; background: #FAFAFA; height: 30px; cursor: default;">
        Select filters
    </div>
</div>