<div data-ng-include="'/templates/header--view.html'"></div>

<main style="margin-top: -292px;"
      class="site--content--flow fluid-content clearfix distinguish facility-content">

    <div class="content--container pad-0"
         style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui pad-0">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     program="page.node.program"
                     project="page.project"></div>

                <div class="hero translucent">

                    <div id="backdrop-map"
                         style="overflow: hidden; background-image: url('/images/alt-banner-1.png'); background-repeat:
                         no-repeat; background-size: cover; background-position: center center; height: 400px;">
                    </div>

                    <article style="text-align: center;"
                             class="name pad space-right reveal fade-in t0 margin-t-2">

                        <h1 style="color: #FFFFFF; font-size: 2.5rem;"
                            class="margin-0 margin-b-1">
                            Explore
                        </h1>

                    </article>

                </div>

                <div style="width: 100%;"
                     class="flex flex-dir-col flex-nwrap flex-align-center">

                    <section class="privacy-message pad-0 pad-y-10">

                        <p>
                            <i class="material-icons">
                                map
                            </i>
                        </p>

                        <p>Interactive map coming soon.</p>

                    </section>

                </div>

            </div>

        </div>

    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>