<div style="display: grid; grid-template-columns: auto 1fr; max-height: 100%;">
    <div class="flex flex-dir-col nowrap option-types no-grow pad-1 flex-justify-start"
         style="height: 100%;">
        <button data-ng-repeat="(idx, option) in config.types track by idx | orderBy: 'label'"
                data-ng-class="{'active': config.mode === option.key, 'not-allowed': disableInputs}"
                data-ng-click="setMode(option.key)"
                class="pad-r-50p pad-l-50p pad-t-50p pad-b-50p"
                type="button"
                title="{{ option.label }}">
            <span style="font-size: .9rem;">
                {{ option.label }}
            </span>
            <span class="dirty-indicator margin-l-50p margin-r-50p"
                  data-ng-class="{filled: option.dirty}"></span>
        </button>
    </div>
    <div class="option-list-container pad-r-1 pad-b-1"
         data-ng-show="config.mode === 'name'">
        <div class="rad-25 pad-b-50p pad-t-1">
            <div class="search-input-wrapper rad-25">
                <input type="text"
                   data-ng-model="config.query.token.aa"
                   data-ng-model-options="{debounce: 100}"
                   data-ng-change="filterCategory('name', config.query.token.aa)"
                   class="margin-0"
                   style="padding: .5rem .75rem; font-size: .9rem; border: 0 none; background: transparent;"
                   name="aa"
                   placeholder="Search pipelines&hellip;" />
            </div>
        </div>
        <label
                data-ng-repeat="(idx, option) in config.options.name track by idx | orderBy: 'label' | filter:config.query.facilityToken"
                data-ng-class="{'active': option.selected, 'not-allowed': disableInputs}"
                style="display: grid; grid-template-columns: min-content 1fr; font-size: .9rem;"
                class="pad-50p"
                title="{{ option.label }}">
        <span class="margin-r-50p"
              style="font-size: .9rem;"
              data-ng-if="option.selected">
            <span class="material-icons md-18">
                check_box
            </span>
        </span>
            <span class="margin-r-50p"
                  style="font-size: .9rem;"
                  data-ng-if="!option.selected">
            <span class="material-icons md-18">
                check_box_outline_blank
            </span>
        </span>
            <input type="checkbox"
                   name="active-enum"
                   style="display: none;"
                   data-ng-disabled="disableInputs"
                   data-ng-model="option.selected">
            <span style="font-size: .9rem;">
            {{ option.label }}
        </span>
        </label>
    </div>
    <div class="option-list-container pad-r-1 pad-b-1"
         data-ng-show="config.mode === 'State'">
        <div class="rad-25 pad-b-50p pad-t-1">
            <div class="search-input-wrapper rad-25">
                <input type="text"
                   data-ng-model="config.query.token.bb"
                   data-ng-model-options="{debounce: 100}"
                   data-ng-change="filterCategory('State', config.query.token.bb)"
                   class="margin-0"
                   style="padding: .5rem .75rem; font-size: .9rem; border: 0 none; background: transparent;"
                   name="bb"
                   placeholder="Search states&hellip;" />
            </div>
        </div>
        <label data-ng-repeat="(idx, option) in config.options['State'] track by idx | orderBy: 'label'"
               data-ng-class="{'active': option.selected, 'not-allowed': disableInputs}"
               style="display: grid; grid-template-columns: min-content 1fr; font-size: .9rem;"
               class="pad-50p"
               title="{{ option.label }}">
        <span class="margin-r-50p"
              style="font-size: .9rem;"
              data-ng-if="option.selected">
            <span class="material-icons md-18">
                check_box
            </span>
        </span>
            <span class="margin-r-50p"
                  style="font-size: .9rem;"
                  data-ng-if="!option.selected">
            <span class="material-icons md-18">
                check_box_outline_blank
            </span>
        </span>
            <input type="checkbox"
                   name="active-enum"
                   style="display: none;"
                   data-ng-disabled="disableInputs"
                   data-ng-model="option.selected">
            <span style="font-size: .9rem;">
            {{ option.label }}
        </span>
        </label>
    </div>
    <div class="option-list-container pad-r-1 pad-b-1"
         data-ng-show="config.mode === 'Product'">
        <div class="rad-25 pad-b-50p pad-t-1">
            <div class="search-input-wrapper rad-25">
                <input type="text"
                   data-ng-model="config.query.token.cc"
                   data-ng-model-options="{debounce: 100}"
                   data-ng-change="filterCategory('Product', config.query.token.cc)"
                   class="margin-0"
                   style="padding: .5rem .75rem; font-size: .9rem; border: 0 none; background: transparent;"
                   name="cc"
                   placeholder="Search product types&hellip;" />
            </div>
        </div>
        <label data-ng-repeat="(idx, option) in config.options['Product'] track by idx | orderBy: 'label'"
               data-ng-class="{'active': option.selected, 'not-allowed': disableInputs}"
               style="display: grid; grid-template-columns: min-content 1fr; font-size: .9rem;"
               class="pad-50p"
               title="{{ option.label }}">
        <span class="margin-r-50p"
              style="font-size: .9rem;"
              data-ng-if="option.selected">
            <span class="material-icons md-18">
                check_box
            </span>
        </span>
            <span class="margin-r-50p"
                  style="font-size: .9rem;"
                  data-ng-if="!option.selected">
            <span class="material-icons md-18">
                check_box_outline_blank
            </span>
        </span>
            <input type="checkbox"
                   name="active-enum"
                   style="display: none;"
                   data-ng-disabled="disableInputs"
                   data-ng-model="option.selected">
            <span style="font-size: .9rem;">
            {{ option.label }}
        </span>
        </label>
    </div>
    <div class="option-list-container pad-r-1 pad-b-1"
         data-ng-show="config.mode === 'PrjType'">
        <div class="rad-25 pad-b-50p pad-t-1">
            <div class="search-input-wrapper rad-25">
                <input type="text"
                   data-ng-model="config.query.token.dd"
                   data-ng-model-options="{debounce: 100}"
                   data-ng-change="filterCategory('PrjType', config.query.token.dd)"
                   class="margin-0"
                   style="padding: .5rem .75rem; font-size: .9rem; border: 0 none; background: transparent;"
                   name="dd"
                   placeholder="Search project types&hellip;" />
            </div>
        </div>
        <label data-ng-repeat="(idx, option) in config.options['PrjType'] track by idx | orderBy: 'label'"
               data-ng-class="{'active': option.selected, 'not-allowed': disableInputs}"
               style="display: grid; grid-template-columns: min-content 1fr; font-size: .9rem;"
               class="pad-50p"
               title="{{ option.label }}">
        <span class="margin-r-50p"
              style="font-size: .9rem;"
              data-ng-if="option.selected">
            <span class="material-icons md-18">
                check_box
            </span>
        </span>
            <span class="margin-r-50p"
                  style="font-size: .9rem;"
                  data-ng-if="!option.selected">
            <span class="material-icons md-18">
                check_box_outline_blank
            </span>
        </span>
            <input type="checkbox"
                   name="active-enum"
                   style="display: none;"
                   data-ng-disabled="disableInputs"
                   data-ng-model="option.selected">
            <span style="font-size: .9rem;">
            {{ option.label }}
        </span>
        </label>
    </div>
</div>