<div class="creation-dialog-container"
     data-ng-click="forceClose($event)"
     data-ng-if="modalDisplay.saveView">
    <form class="dialog"
          style="width: auto;"
          data-ng-submit="saveView()">
        <div class="title">
            <span class="title-text">
                Save view
            </span>
            <div class="dismiss-container">
                <div class="dismiss" data-ng-click="closeModal()">
                    <div class="halo"></div>
                    <span class="material-icons">
                        close
                    </span>
                </div>
            </div>
        </div>
        <div class="inputs">
            <div>
                <span class="prompt">
                    Enter a name for this view.
                </span>
                <input type="text"
                       style="margin: 1rem 0;"
                       data-ng-model="data.name"
                       class="form-control animate"
                       id="name"
                       name="name"
                       placeholder="&hellip;" />
            </div>
        </div>
        <div class="dialog-actions">
            <button type="button" class="cancel" data-ng-click="closeModal()">
                Cancel
            </button>
            <button type="submit" class="confirm"
                    data-ng-disabled="!data.name">
                OK
            </button>
        </div>
    </form>
</div>