<div class="collection-filter drop-down margin-0">
    <button style="padding: .4rem .5rem .4rem .75rem; font-size: .9rem;"
            class="relation-dialog-btn margin-r-1"
            data-ng-click="toggleModal('select')">
        <span data-ng-if="activeView">
            {{ activeView.name }}
        </span>
        <span data-ng-if="!activeView">
            Saved views
        </span>
        <span class="material-icons md-18 margin-l-50p"
              style="pointer-events: none;"
              data-ng-if="!modalDisplay.select">
            arrow_drop_down
        </span>
        <span class="material-icons md-18 margin-l-50p"
              style="pointer-events: none;"
              data-ng-if="modalDisplay.select">
            arrow_drop_up
        </span>
    </button>
    <form name="collection-filter-form"
          class="collection-filter-modal"
          style="width: auto; min-width: 400px;"
          data-ng-if="modalDisplay.select">
        <label class="pad-t-50p pad-b-50p pad-l-75p pad-r-75p"
               data-ng-repeat="(idx, item) in items track by idx"
               data-ng-class="{'active': activeView.name === item.name}"
               data-ng-click="applyView(item)"
               title="{{ item.name }}">
            <span class="input-mask"
                  data-ng-if="activeView.name === item.name">
                <span class="material-icons md-18">
                    radio_button_checked
                </span>
            </span>
            <span class="input-mask"
                  data-ng-if="activeView.name !== item.name">
                <span class="material-icons md-18">
                    radio_button_unchecked
                </span>
            </span>
            <input type="radio"
                   id="filter-option-{{ idx }}"
                   name="active-filter"
                   data-ng-model="activeView">
            <div class="flex flex-dir-col grow">
                <span class="flex grow">
                    {{ item.name }}
                </span>
                <span class="flex grow" style="font-size: .8rem;">
                    Created by: {{ item.creator.name }}
                </span>
            </div>
            <div class="dismiss-container no-grow"
                 data-ng-if="$root.user.id === item.creator.id"
                 title="Delete view">
                <div class="dismiss margin-0"
                     data-ng-click="deleteView(item, idx)">
                    <div class="halo" style="height: 34px; width: 34px;"></div>
                    <span class="material-icons md-18">
                        delete
                    </span>
                </div>
            </div>
        </label>
    </form>
</div>